<div class="message-new mge-show clearfix mge-edit-form", id="edit-mge-<%= message.id %>">
  <%= form_for message, :url => message_path(message) do |m| %>
    <%= m.select :contact_ids, current_user.contacts.all.map{ |c| [c.name, c.id] }, {}, :multiple => true, :class=> "receivers-select col-md-9 receivers-s2" %>
    <%= m.submit "新增收訊人", :status => "draft", :class => "new-receiver-button col-md-3 btn btn-default" %>
    <%= m.text_area :content, :class=> "form-control message-input-area", :rows => 5, :value=> message.content %>

    <% if false %>
        <div class="form-group">
          <%= f.label :pic, "Upload File" %>
          <%= f.file_field :pic %>
          <%= check_box_tag "destroy_photo", "1" %> 刪除檔案
        </div>
    <% end %>

    指定傳送日期：
    <%#= m.text_field :delivery_date, :class => "datepicker" %>
    <div class='input-group date'>
      <%= m.text_field :delivery_date, :class => 'form-control datepicker',default: DateTime.current, id:"datetimepicker1"%>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="pull-right">
      <%= link_to "取消", messages_path, :class => 'btn btn-primary', :status => "draft" %>
      <%= m.submit "完成編輯", :class => 'btn btn-primary', :status => "OK" %>
    </div>
  <% end %>
</div>

<script>

  $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD hh:mm a'
      });
  });

  $('.datepicker').datepicker({
     format: "yyyy/mm/dd"
  });

  $(".receivers-select").select2();
</script>