<div class="message-new mge-show clearfix mge-edit-form", id="edit-mge-<%= message.id %>">
  <legend>修改遺言</legend>
  <%= form_for message, :url => message_path(message) do |m| %>

    <%= select_tag "message[contact_ids]", grouped_options_for_select(options_for_receiver(@all_contacts), m.object.contact_ids ), :multiple => true, :class=> "receivers-select receivers-s2", :placeholder => "收訊人: 媽媽" %>
    <button type="button" class="btn btn-default receiver-add" data-toggle="modal" data-target="#myModal" data-tooltip="hello world">新增收訊人</button>

    <%= m.text_area :content, :class=> "form-control message-input-area", :rows => 5, :value=> message.content %>
    <div class="form-group">
      上傳檔案：
      <%= m.file_field :image, class: 'inline-block' %>
      <%= check_box_tag "destroy_photo", "1" %> 刪除檔案
    </div>
    指定傳送日期：

    <div class='input-group date'>
      <%= m.text_field :delivery_date, :class => 'form-control datepicker',default: DateTime.current %>
      <span class="input-group-addon look-outline-red">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="pull-right">
      <%= m.submit "草稿", :class => 'btn btn-primary', :status => "draft" %>
      <%= m.submit "完成", :class => 'btn btn-primary', :status => "OK" %>
    </div>
  <% end %>
</div>
