<div class="message-new mge-show clearfix">
  <%= form_for @message, :url => messages_path do |m| %>
    <legend class="text-center">新增一則遺言</legend>


    <%= select_tag "message[contact_ids]", grouped_options_for_select(options_for_receiver(@all_contacts)), :multiple => true, :class=> "receivers-select receivers-s2", :placeholder => "收訊人: 媽媽" %>

    <button type="button" class="btn btn-default receiver-add" data-toggle="modal" data-target="#myModal" data-tooltip="hello world">新增收訊人</button>
    <%= m.text_area :content, :class=> "form-control message-input-area", :rows => 5, placeholder: :"媽, 謝謝妳給我這一生,我愛妳 ^^" %>
    <br>
    <div class="form-group">
      上傳檔案：<%= m.file_field :foo, class: 'inline-block' %>
      <% if false %>
      上傳照片：<%= m.file_field :image, class: 'inline-block' %>
      <%#= check_box_tag "destroy_photo", "1" %> 刪除檔案
      上傳聲音：<%= m.file_field :audio, class: 'inline-block' %>
      上傳影片：<%= m.file_field :video, class: 'inline-block' %>
      <% end %>
    </div>
    指定傳送日期：

    <div class='input-group date'>
      <%= m.text_field :delivery_date, :class => 'form-control datepicker',default: DateTime.current %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="pull-right">
      <%= m.submit "草稿", :class => 'btn btn-primary', :status => "draft" %>
      <%= m.submit "完成", :class => 'btn btn-primary', :status => "final" %>
    </div>
  <% end %>
</div>

<!-- 新增收訊人 Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新增收訊人</h4>
      </div>
      <div class="modal-body">
        <%= form_for @contact, :url => contacts_path do |f|%>
        <div class="form-group">
          <%= f.label "聯絡人姓名" %> <br>
          <%= f.text_field :name, :value => @contact.name, :class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label "他是你的...(關係)" %> <br>
          <%= f.text_field :relationship, :value => @contact.relationship, :class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label "行動電話" %> <br>
          <%= f.text_field :phone, :value => @contact.phone, :class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label "備用電話" %> <br>
          <%= f.text_field :home_phone, :value => @contact.home_phone, :class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label "Email" %> <br>
          <%= f.text_field :email, :value => @contact.email, :type => "email", :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "地址" %> <br>
          <%= f.text_field :address, :value => @contact.address, :class => "form-control"  %>
        </div>
          <%= f.hidden_field :check_alive, :value => false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">取消新增</button>
        <%= f.submit '確定新增', :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>