<div class="message-new mge-show clearfix">
  <%= form_for @message, :url => messages_path do |m| %>
    <legend class="text-center">新增一則遺言</legend>
    <%= m.select :contact_ids, current_user.contacts.all.map{ |c| [c.name, c.id] }, {}, :multiple => true, :class=> "receivers-select col-md-9 receivers-s2", :placeholder => "收訊人: 媽媽" %>
    <%= m.submit "新增收訊人", :status => "draft", :class => "new-receiver-button col-md-3 btn btn-default" %>
    <%= m.text_area :content, :class=> "form-control message-input-area", :rows => 5, placeholder: :"媽, 謝謝妳給我這一生,我愛妳 ^^" %>
    <div class="form-group">
      <%= m.label '上傳相片：',class: 'inline-block' %>
      <%= m.file_field :image, class: 'inline-block' %>
      <%= check_box_tag "destroy_photo", "1" %> 刪除檔案
    </div>
    指定傳送日期：
    <%#= m.text_field :delivery_date, :class => "datepicker" %>
    <div class='input-group date'>
      <%= m.text_field :delivery_date, :class => 'form-control datepicker',default: DateTime.current, id:"datetimepicker1"%>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="pull-right">
      <%= m.submit "草稿", :class => 'btn btn-primary', :status => "draft" %>
      <%= m.submit "完成", :class => 'btn btn-primary', :status => "OK" %>
    </div>
  <% end %>
</div>

<script>

  $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD hh:mm a'
      });
  });

  $('.datepicker').datepicker({
     format: "yyyy/mm/dd"
  });

  $(".receivers-select").select2();
</script>