$("#mge-<%= @messages.id %> ul").append("<li id='<%= @comment.id %>'><%= j(render :partial => "comment", :locals => { :photo => @photo, :comment => @comment } ) %></li>");
// $("#photo-comments-<%= @photo.id %> ul").append("<li><%= j(render :partial => "comment", :locals => { :photo => @photo, :comment => @comment } ) %></li>");
$("#new_comment").trigger("reset");