<div class="container">

  <div class="col-md-3 todolist">
    <!-- <h2>To Do List</h2> -->
    <!-- <textarea name="todolist">todolist</textarea> -->
  </div>

  <div class="col-md-6 editmge">
    <%= form_for @message, :url => messages_path do |m| %>
      <h2><%= m.label :content, 'Leave Your Message' %></h2>
      <!-- 寬度不應該寫死 -->
      <%= m.text_area :content, size: '74x8' %>
      <%= m.submit "submit", :class => 'btn btn-primary' %>
    <% end %>
    <div class="btn-group btn-group-md pull-right " role="group" aria-label="...">

    </div>
    <div>Receiver: </div>
  </div>

  <div class="col-md-3 contectlist">
    <h2>Contact List</h2>

  </div>

</div>

<% if false %>
<h1>new html</h1>
<%= form_for @photo, :url => photos_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<br>
<br>
<%= f.submit "Create" %>
<br>
<%= link_to 'back to index', photos_path %>
<% end %>
<% end %>