<div class="container">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">

    <%= render :partial => "edit", :locals => { :message => @message } %>
    <p></p>

    draft do{
      partial: "edit"
    }
    final do{
      partial: "show"
    }


    <!-- Message show -->
    <% @messages.each do |m| %>
      <div class="mge-show mge-<%= m.id %>">

        <div class="pull-right">
          <%= m.created_at.to_s(:short) %>

          <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">修改遺言</a></li>
                <li><%= link_to '刪除遺言', message_path(m), :data =>{:confirm => "確定要刪除這則遺言?"}, :method => :delete %></li>
              </ul>
            </div>

          <%= link_to 'Edit', edit_message_url(m) %>
          <%= link_to 'X', message_path(m), :data =>{:confirm => "r u sure?"}, :method => :delete %>
          <%= link_to 'X', message_path(m), :method => :delete, :remote => true %>
        </div>

        <p>給: <%= m.receivers.all.map{ |r| r.contact.name}.to_s %></p>
        <legend></legend>
        <p><%=simple_format m.content %></p>
        <p>指定傳送日期: <%= m.delivery_date.to_s %></p>

      </div>

    <% end %>

  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>
      <p>當我們無法與您聯繫時，將聯絡以下對象</p>
      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
</div>


<script>

  $("#receivers-select").select2();

</script>
