<div class="container">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <div class="message-new mge-show clearfix">
      <%= form_for @message, :url => messages_path do |m| %>

        <legend class="text-center">新增一則遺言</legend>
        <%= m.text_field :user_id, :id => "receiver-list", :class=> "form-control" %>
        <%= m.text_area :content, :class=> "form-control" %>
        <div class="pull-right">
          <%= m.submit "草稿", :class => 'btn btn-primary' %>
          <%= m.submit "完成", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>


    <!-- Message show -->
    <% @messages.each do |m| %>
      <div class="mge-show mge-<%= m.id %>">
        <div class="pull-right">
          <%= m.created_at.to_s(:short) %>

          <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">修改遺言</a></li>
                <li><a href="<%= message_path(@messages) %>">刪除遺言</a></li>
              </ul>
            </div>

          <%= link_to 'Edit', edit_message_url(m) %>
          <%= link_to 'X', message_path(m), :data =>{:confirm => "r u sure?"}, :method => :delete %>
          <%= link_to 'X', message_path(m), :method => :delete, :remote => true %>
        </div>

        收件人:
        <!-- <hr> -->
        <legend></legend>
          <%=simple_format m.content %>

      </div>

    <% end %>

  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>

      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
</div>


<script>

  $("#receiver-list").select2({
    tags: <%= raw(Contact.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });

</script>
