<div class="container">

  <div class="col-md-3 todolist">
    <!-- <h2>To Do List</h2> -->
    <!-- <textarea name="todolist">todolist</textarea> -->
  </div>

  <div class="col-md-6">
    <div class="mge-txt-area outline-show">
      <%= form_for @message, :url => messages_path do |m| %>
        <legend>新增一則遺言</legend>
        <!-- 寬度不應該寫死 -->
        <%= m.label :user_id, '收件人' %>
        <%= m.text_area :user_id, size: '74x2' %>
        <%= m.text_area :content, size: '74x8' %>
        <div class="pull-right">
          <%= m.submit "Submit", :class => 'btn btn-primary' %>
          <%= link_to "Cancle", Message, :class => 'btn btn-danger' %>
        </div>
      <% end %>
    </div>

<% if false %>
    <div class="form-group">
      <%= m.label :pic, "Upload File" %>
      <%= m.file_field :pic %>
      <%= check_box_tag "destroy_file", "1" %> 刪除檔案
    </div>
<% end %>


      <% @messages.each do |m| %>
      <div class="mge-show" id="mge-<%= m.id %>">
        <div class="pull-right">
          <%= link_to 'Edit', edit_message_url(m) %>
          <%#= link_to 'X', message_path(message), :data =>{:confirm => "r u sure?"}, :method => :delete %>
          <%= link_to 'X', message_path(m), :method => :delete %>
          <%= m.created_at.to_s(:short) %>
        </div>
        <%=simple_format m.content %>
      </div>

      <% end %>

  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>

      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
</div>


<% if false %>
<h1>new html</h1>
<%= form_for @photo, :url => photos_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<br>
<br>
<%= f.submit "Create" %>
<br>
<%= link_to 'back to index', photos_path %>
<% end %>
<% end %>
