<div class="container">

  <!-- 遺言範例 -->

    <div class="theword-sample col-md-3">
      <legend class="text-center">看看遺言範例</legend>
      <p>給親愛的媽媽:</p>
      <p>  這是我在前往亞馬遜河探險前所寫下的，當妳看到這封訊息時，表示我已經不在了... 兒子不孝，沒能好好奉養妳，還讓妳傷心。但此行是我一大心願，雖然危險卻非去不可，能長眠於此，也是我最好的歸宿了~!!</p>
    </div>

  <div class="col-md-6">
    <!-- Message new -->
    <%= render :partial => "new", :locals => { :message => @message } %>
    <p></p>

    <% @messages.each do |m| %>

      <!-- Message show -->
      <div class="mge-show-id" id="mge-<%= m.id %>" data-id="<%= m.id %>">
        <%= render :partial => "show", :locals => { :m => m } %>
      </div>
      <!-- message edit -->
      <%= render :partial => "edit", :locals => { :message => m } %>


    <% end %>
  </div>

  <!-- Receiver List -->
  <div class="col-md-3 receiver-list">
    <legend class="text-center">收訊人</legend>
      <p>您目前留了遺言給以下對象</p>
      <ul>
        <% @contacts.each do |c| %>
          <p><%= c.name if c.receivers.first %></p>
        <% end %>
      </ul>
  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人</legend>
      <p>當我們無法與您聯繫時，將聯絡以下對象</p>
      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :data =>{:confirm => "確定要刪除此收訊人?"} , :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
  <!-- FB Page -->
  <div id="fb-root" class="theword-sample col-md-3">
    <div class="fb-page" data-href="https://www.facebook.com/pages/%E7%95%99%E4%B8%8B%E9%81%BA%E8%A8%80%E7%95%99%E4%B8%8B%E6%84%9B/1564354127160181?fref=ts" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/%E7%95%99%E4%B8%8B%E9%81%BA%E8%A8%80%E7%95%99%E4%B8%8B%E6%84%9B/1564354127160181?fref=ts"><a href="https://www.facebook.com/pages/%E7%95%99%E4%B8%8B%E9%81%BA%E8%A8%80%E7%95%99%E4%B8%8B%E6%84%9B/1564354127160181?fref=ts">留下遺言，留下愛</a></blockquote></div></div>
  </div>

</div>

<script>
  //$(".editmessage").first().closest(".mge-show").find(".mge-edit-form").toggle()
  $(".mge-edit-form").hide();
  $(".editmessage").on("click", function(event) {
    event.preventDefault();

    id = $(this).data("id");
    //console.log("get data-id="+id);

    $("#mge-"+id).toggle();
    $("#edit-mge-"+id).toggle();
  });

  $('.datepicker').datepicker({
     format: "yyyy/mm/dd"
  });

  $(".receivers-select").select2();

  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })

</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=882105101852973";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>