<div class="container">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <div class="message-new mge-show clearfix">
      <%= form_for @message, :url => messages_path do |m| %>
        <legend class="text-center">新增一則遺言</legend>
        <%= m.text_field :receivers, :id => "receiver-list", :class=> "form-control", :placeholder => "媽媽" %>
        <%= m.text_area :content, :class=> "form-control", placeholder: :"媽, 謝謝妳給我這一生,我愛妳 ^^" %>
        <div class="pull-right">
          <%= m.submit "草稿", :class => 'btn btn-primary' %>
          <%= m.submit "完成", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <!-- Message show -->
    <% @messages.each do |m| %>
      <div class="mge-show mge-<%= m.id %>">
        <div class="pull-right">
          <%= link_to 'Edit', edit_message_url(m) %>
          <%#= link_to 'X', message_path(message), :data =>{:confirm => "r u sure?"}, :method => :delete %>
          <%= link_to 'X', message_path(m), :method => :delete %>
          <%= m.created_at.to_s(:short) %>
        </div>
        <%=simple_format m.content %>
      </div>

    <% end %>

  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>

      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
</div>


<script>

  $("#receiver-list").select2({
    tags: <%= raw(Contact.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });

</script>
