<div class="container">

  <div class="col-md-3 todolist">
    <!-- <h2>To Do List</h2> -->
    <!-- <textarea name="todolist">todolist</textarea> -->
  </div>

  <div class="col-md-6">

    <div class="mge-txt-area">
      <%= form_for @message, :url => messages_path do |m| %>
        <legend>新增一則遺言</legend>
        <!-- 寬度不應該寫死 -->
        Receiver:
        <%= m.text_area :user_id, size: '74x2' %>
        <%= m.text_area :content, size: '74x8' %>
        <%= m.submit "submit", :class => 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="mge">
      <% @messages.each do |message| %>
        <%= message.content %>
        <div class="edit-delete-mge pull-right">
          <%= link_to 'Edit', edit_message_url(message) %>
          <%#= link_to 'X', message_path(message), :data =>{:confirm => "r u sure?"}, :method => :delete %>
          <%= link_to 'X', message_path(message), :method => :delete %>
        </div>
      <br>
      <div>
              </div>
      <% end %>
    </div>
  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>

      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>
</div>


<% if false %>
<h1>new html</h1>
<%= form_for @photo, :url => photos_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<br>
<br>
<%= f.submit "Create" %>
<br>
<%= link_to 'back to index', photos_path %>
<% end %>
<% end %>