<div class="container">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">
      <%= render :partial => "new", :locals => { :message => @message } %>
    <p></p>

    <!-- Message show -->
    <% @messages.each do |m| %>
      <div class="mge-show" id="mge-<%= m.id %>">
        <div class="pull-right">
          <%= m.created_at.to_s(:short) %>
          <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="editmessage" data-id="<%= m.id %>">修改遺言</a></li>
                <li><%= link_to '修改遺言ajax', edit_message_url(m), remote: true %></li>
                <li><%= link_to '刪除遺言', message_path(m), :data =>{:confirm => "確定要刪除這則遺言?"}, :method => :delete, :remote => true %></li>
              </ul>
            </div>
        </div>
        <div class="mge-content">
          <!-- <p>給: <%#= m.receivers.all.map{ |r| r.contact.name}.to_s %></p> -->
          給：
          <% m.receivers.all.each_with_index do |receiver, index| %>
            <li class="receiver-name receiver-<%= index %>"><%= receiver.contact.name %></li>
          <% end %>
          <p>指定傳送日期: <%= m.delivery_date.to_s %></p>
          <legend></legend>
          <% if m.image_file_name %>
            <%= image_tag m.image.url(:medium) %>
          <% end %>
          <p><%=simple_format m.content %></p>
        </div>
      </div>
      <!-- message edit -->
      <div class="mge-edit-form" id="edit-mge-<%= m.id %>" data-id="<%= m.id %>">
          <%= render :partial => "edit", :locals => { :message => m } %>
      </div>
    <% end %>
  </div>

  <!-- Receiver List -->
  <div class="col-md-3 receiver-list">
    <legend class="text-center">收訊人列表</legend>
      <p>您目前留了遺言給以下對象</p>
      <ul>
      <% @contacts.each do |c| %>
        <% if c.receivers.first %>
          <li><%= c.name %></li>
        <% end %>
      <% end %>
      </ul>
  </div>

  <!-- Contact List -->
  <div class="col-md-3 contact-list">
    <legend class="text-center">聯絡人設定</legend>
      <p>當我們無法與您聯繫時，將聯絡以下對象</p>
      <% @contacts.each do |c| %>
        <%= link_to c.name, c, :class => "col-md-10" %>
        <%= link_to "x", c, :method => :delete, :data =>{:confirm => "確定要刪除此收訊人?"} , :class => "col-md-2 contact-delete" %>
      <% end %>

    <%= link_to '+', new_contact_path, :class => 'btn btn-default btn-add-contact' %>
  </div>

</div>

<script>
  //$(".editmessage").first().closest(".mge-show").find(".mge-edit-form").toggle()
  $(".mge-edit-form").hide();
  $(".editmessage").on("click", function(event) {
    event.preventDefault();

    id = $(this).data("id");
    //console.log("get data-id="+id);

    $("#mge-"+id).toggle();
    $("#edit-mge-"+id).toggle();
  });

  $(".receivers-select").select2();
</script>

