$("#mge-<%= @message.id %> ul").append("<li id='<%= @message.id %>'><%= j(render :partial => "message", :locals => { :photo => @photo, :comment => @comment } ) %></li>");
// $("#photo-comments-<%= @photo.id %> ul").append("<li><%= j(render :partial => "comment", :locals => { :photo => @photo, :comment => @comment } ) %></li>");
$("#new_comment").trigger("reset");


<% if false %>
<% if @comment.errors.any? %>

  alert("Fail!!");

<% else %>
  $("#comment-form form").trigger("reset");

  $("#comment-form").toggle();

  $("#comments").append("<%= escape_javascript( render "comment", :comment => @comment ) %>");

  var aTag = $("#comment-<%= @comment.id %>");
  $('html,body').animate({scrollTop: aTag.offset().top},'slow');

<% end %>
<% end %>