<% if false %>
    <div class="form-group">
      <%= m.label :pic, "Upload File" %>
      <%= m.file_field :pic %>
      <%= check_box_tag "destroy_file", "1" %> 刪除檔案
    </div>
<% end %>



<% if false %>
<h1>new html</h1>
<%= form_for @photo, :url => photos_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<br>
<br>
<%= f.submit "Create" %>
<br>
<%= link_to 'back to index', photos_path %>
<% end %>
<% end %>


<% if false %>


       <!-- <li><a href="<%= message_path(m), :method => :delete %>">刪除</a></li> -->
<% end %>